<h2>New Login Alert</h2>

<p>Hello <%= @user.name %>,</p>

<p>Your Stock Traker account was just logged in.</p>

<p>If this was not you, please secure your account immediately.</p>

<p>Thank you,<br>
<p>Stock Traker Team</p>
