<h2>Welcome to Stock Traker, <%= @user.name %> 👋</h2>

<p>
  Your shop <strong><%= @user.shop_name %></strong> has been successfully registered.
</p>

<p>
  You can now manage your stocks, products, and inventory easily.
</p>

<p>
  Happy selling! 🚀  
  <br>
  <strong>Stock Traker Team</strong>
</p>
